*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--primary);
  color: var(--text-secondary);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-family: var(--font-family);
  overflow-x: hidden;
}

/* Container that make the max width of page is 1240px */
.container {
  max-width: 145rem;
  margin: 0 auto;
}

section,
.footer {
  padding-inline: var(--spacing-l);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
  color: var(--text-primary);
}

.highlight {
  display: inline-block;
  color: var(--secondary);
  position: relative;
}
.highlight::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.1rem;
  bottom: 0;
  left: 0;
  background-color: var(--secondary);
  transition: width 0.3s ease-in-out;
}
.highlight:hover::after {
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title::before {
  content: "\25B6";
  /* height: 0.3rem;
  width: 2rem; */
  border-radius: 0.5rem;
  font-size: var(--font-size-l);
  color: var(--secondary);
}

@media (min-width: 600px) {
  section,
  .footer {
    padding-inline: var(--spacing-xl);
  }
}
