.header {
  display: flex;
  width: 100%;
  max-width: 145rem;
  padding: var(--spacing-s) var(--spacing-m);
  align-items: center;
  justify-content: space-between;
  background-color: var(--alpha-primary);
  top: 0;
  left: 0;
  z-index: 20;
  position: fixed;
}

.sticky {
  box-shadow: 0 10px 30px -10px var(--light-primary);
  backdrop-filter: blur(0.4rem);
  z-index: 10;
}

.logo-container {
  flex: 1;
}

/* Styling buttons in that handle navbar on mobiles viewport */
.navbar-close-btn {
  position: absolute;
  left: 2rem;
  top: 2rem;
  padding: 0.5rem 0.8rem;
}
.navbar-close-btn:hover {
  background-color: var(--primary);
}

/* Styling navbar and it's items */
.navbar {
  position: absolute;
  z-index: 100;

  top: 0;
  right: 0;

  height: 100vh;
  width: 100%;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--light-primary);
  transition: transform 0.3s ease-in-out;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: var(--spacing-l) var(--spacing-xl);
}

.navbar-item a {
  display: inline-block;
  position: relative;
  color: var(--text-primary);
  text-decoration: none;
  font-size: var(--font-size-l);
  font-weight: 600;
  padding: var(--spacing-s);
  transition: color 0.3s ease-in-out;
}

/* Styling animation when hover navbar item */
.navbar-item {
  position: relative;
}
.navbar-item a:hover {
  color: var(--secondary);
}

.navbar-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 0.1rem;
  background-color: var(--secondary);
  transition: width 0.3s ease-in-out;
}

.navbar-item:hover::before {
  width: 100%;
}
.navbar-item::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.1rem;
  background-color: var(--secondary);
  transition: width 0.3s ease-in-out;
}

.navbar-item:hover::after {
  width: 100%;
}
.hidden {
  /* display: none; */
  transform: translateX(100%);
}

/* Implemnt media query to fit all viewports */
@media (min-width: 900px) {
  .header {
    padding: var(--spacing-s) var(--spacing-m);
  }
  .navbar {
    position: static;
    display: block;
    height: auto;
    background-color: transparent;
    transform: translateX(0%);
  }

  .logo-container {
    flex: 0;
  }
  .burger-btn {
    display: none;
  }

  .navbar-close-btn {
    display: none;
  }
  .navbar-list {
    flex-direction: row;
  }
}
