.intro {
  min-height: 80vh;
  display: flex;
  margin-block-start: 10rem;
  flex-direction: column;
}
.intro > *:not(:nth-child(2)):not(:last-child) {
  margin-bottom: 2rem;
}

.intro__greeting {
  font-size: var(--font-size-m);
  color: var(--light-lime);
}

.intro__name {
  font-size: clamp(4rem, 8vw, 6rem);
  color: var(--white);
}

.intro__tagline {
  font-size: clamp(2rem, 4vw, 3rem);
  color: var(--light-slate);
}

.intro__description {
  font-size: var(--font-size-m);
  color: var(--slate);
  max-width: 50rem;
}

.intro__btn-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 440px) {
  .intro__btn-container {
    justify-content: flex-start;
  }
}
