.icon-btn {
  background-color: transparent;
  font-size: var(--font-xxl);
  color: var(--light-lime);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: background 0.3s ease-in-out, border 0.4s ease-in;
  cursor: pointer;
  margin: var(--spacing-s);
}

.icon-btn:hover {
  background-color: var(--light-navy);
  border: 1px solid var(--dark-slate);
}

