.btn {
  font-size: var(--font-size-m);
  padding: var(--spacing-m) var(--spacing-xl);
  border-radius: 0.7rem;
  transition: all 0.3s ease-out;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.btn-solid {
  background-color: var(--secondary);
  border: 0.1rem solid var(--secondary);
  color: var(--primary);
}

.btn-outline {
  position: relative;
  color: var(--secondary);
  background-color: var(--primary);
  border: 0.1rem solid var(--secondary);
}

.icon-btn {
  background-color: transparent;
  font-size: var(--font-size-xxl);
  color: var(--secondary);
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: background 0.3s ease-in-out, border 0.4s ease-in;
  cursor: pointer;
  margin: var(--spacing-s);
}

.icon-btn--text-primary {
  color: var(--text-primary);
  font-size: var(--font-size-l);
  margin: 0;
  margin-right: var(--spacing-m);
}

/* Add animation when hover and click button */
.btn:hover {
  transform: translate(-0.2rem, -0.2rem);
  box-shadow: 0.1rem 0.2rem 0.2rem 0.1rem var(--secondary);
}
.btn-solid:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.btn:active {
  transform: translate(0.2rem, 0.2rem);
}

.icon-btn:hover {
  background-color: var(--light-primary);
  border: 1px solid var(--dark-tertiary);
}
