.theme-toggle-btn {
  position: relative;
  overflow: hidden;
}
.theme-icon {
  transition: transform 0.3s ease-in-out;
}

.light-theme {
  filter: invert(81%) sepia(28%) saturate(2077%) hue-rotate(23deg)
    brightness(500%) contrast(81%);
  position: absolute;
  transform: translateX(-130%);
}

.dark-theme {
  filter: invert(20%) sepia(84%) saturate(1172%) hue-rotate(197deg)
    brightness(50%) contrast(97%);
  transform: translateX(130%);
}

.active {
  transform: translateX(0);
}
