:root {
  /* colors */
  --primary: #08192d;
  --light-primary: #182f57;
  --alpha-primary: #0b1a2bde;

  --secondary: #b8e81b;

  --dark-tertiary: #495670;
  --tertiary: #8892b0;
  --light-tertiary: #a8b2d1;

  --text-secondary: #ccd6f6;
  --text-primary: #e6f1ff;

  /* Font Sizes */
  --font-size-base: 1.4rem;
  --font-size-m: 1.6rem;
  --font-size-l: 2rem;
  --font-size-xl: 2.2rem;
  --font-size-xxl: 2.4rem;

  /* Font Family */
  --font-family: "Open Sans", serif;
  /* spacing unit */
  --spacing-s: 0.5rem;
  --spacing-m: 1rem;
  --spacing-l: 2rem;
  --spacing-xl: 4rem;
}

/* Light theme */
[data-theme="light"] {
  --primary: #f0e8d2;
  --light-primary: #eee5ca;
  --alpha-primary: #f0e8d2f3;

  --secondary: #1a3e8b;

  --dark-tertiary: #343c4d;
  --tertiary: #252c26;
  --light-tertiary:#0f121b;

  --text-secondary: #1d2330;
  --text-primary: #252c26;
}
